.contact {
    padding: 50px 20px;
    background-color: #3D8D7A;
    color: #080808;
    text-align: center;
  }
  .contact h2{
    color: black;
  }
  
  .contact p {
    font-size: 1.2em;
  }
  
  .contact a {
    color: #d3d9df;
    text-decoration: none;
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    .contact {
      padding: 30px 10px;
    }
  
    .contact p {
      font-size: 1em;
    }
  }
  