.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
.footer p{
color: #fff;
}
.footer p:hover{
  color:#B3D8A8 ;
  

}